* {
    margin: 0;
    padding: 0;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

html, body{
	max-width: 100%;
	min-height: 100dvh;
	overflow: hidden;
}
